<ngb-alert type="danger" [dismissible]="false" *ngFor="let alert of alerts">{{alert}}</ngb-alert>
<ng-container *ngIf="data$ | async as data">
<div class="top-container">
  <div class="container">
    <div class="breadcrumb-container">
      <a *ngIf="application" [routerLink]="['/a', data.project.id]">
        <i class="material-icons md-18">arrow_back </i> Back to Fom Details</a>
    </div>
    <div class="title-container">
      <div class="title-container__title">
        <h1>Review Comments for FOM ID : {{data.project.id}}</h1>
      </div>
      <!-- <div class="title-container__actions">
        <button class="btn btn-light" (click)="exportToExcel()" [disabled]="comments.length === 0">
          Export to Excel
        </button>
      </div> -->
    </div>
  </div>
</div>


<div class="bottom-container">
  <div class="container">
    <div class="review-comments">
      <div class="review-comments__list panel">
        <div class="panel-header">
          <h2>Comments ({{data.comments.length}})</h2>
          <select class="sort-comments form-control" [formControl]="sortControl" placeholder="Sort by" >

            <option *ngFor="let sortKey of sortKeys;" [ngValue]="sortKey" >{{sortKey.innerHTML}}</option>
          </select>
        </div>
        <div class="panel-scroll" #commentListScrollContainer>
<ng-container *ngIf="results$ | async as results">

          <!-- <ng-template ngFor let-item [ngForOf]="publicComments"> -->
            <div class="comment-item" *ngFor="let item of results" [class.active]="item.id === comment?.id" (click)="comment = item" tabindex="0">
              <div class="comment-item-header">
                <div class="comment-author">
                  {{item.name || 'Anonymous'}}
                </div>
                <div class="comment-date">
                  {{(item.createTimestamp | date) || '-'}}
                </div>
              </div>

              <div class="comment-body">{{item.feedback}}</div>

              <!-- <div class="comment-attachments" *ngIf="item.documents.length > 0">
                <i class="material-icons">
                  attach_file
                </i>
                {{item.documents && item.documents.length}} {{item.documents.length === 1 ? "Attachment":"Attachments"}}
              </div> -->
            </div>
          </ng-container>
        </div>

      </div>
      <div class="review-comments__detail panel">
        <div class="panel-scroll">
          <app-comment-detail [comment]="comment"></app-comment-detail>
        </div>
      </div>
    </div>
  </div>
</div>
</ng-container>
