<div class="comment-detail-container" *ngIf="!comment">
  <em>No comment selected</em>
</div>

<div class="comment-detail-container" *ngIf="comment">
  <div class="title-container__title">
    <!-- <h2>{{comment.commentAuthor.contactName || 'Anonymous'}} <span *ngIf="comment.commentAuthor.orgName">({{comment.commentAuthor.orgName}})</span></h2> -->
    <h2>{{comment.name || 'Anonymous'}}</h2>
    <div class="comment-detail__date">
      {{comment.createTimestamp | date:'medium'}}
    </div>
  </div>
  <div class="comment-detail__meta">
    <div>
      <a href="mailto:{{comment.email}}">{{comment.email}}</a>
    </div>
    <div>
      <a href="tel:{{comment.phoneNumber}}">{{comment.phoneNumber}}</a>
    </div>
    <div>
      {{comment.location}}
    </div>
  </div>
  <hr>
  <div class="comment-detail__body" [innerHTML]="comment.feedback | newlines"></div>
  <hr>


  <div class="row">
    <div class="col-md-6">
      <label>Classify comment</label>
    </div>
    <div class="col-md-6">
      <label>Details</label>
    </div>
  </div>
  <form [formGroup]="commentFormGroup">
    <div class="row">
      <div class="col-md-6">
        <select class="sort-comments form-control mb-3" id="comment-response" formControlName="responseCode">
          <option *ngFor="let code of responseCodes" [ngValue]="code.code">{{code.description}}</option>

        </select>
      </div>
      <div class="col-md-6">
      <textarea class="form-control  mb" rows="3" id="detail" name="detail" formControlName="responseDetails">
      </textarea>
      </div>
    </div>
    <ng-content>

    </ng-content>
  </form>
</div>
