table {
    width: 100%;
}

.no-margin {
    margin: 0;
}

.mat-card {
    .row {
        padding-bottom: 0.4rem;
    }
}

// This is important or will not reach .mat-content to select
::ng-deep span.mat-content {
    height: 40px !important;
    align-items: center !important;
}
