<main id="anchor-point">
  <div class="fb-container bg-faded">
    <section>
      <div class="col-lg">
        <button type="button"
                (click)="addUser()"
                class="btn content-btn btn-sm create-button">
          <i class="material-icons">person_add</i>Create User
        </button>
        <h2 id="nav-tabs">Users</h2>
        <ul ngbNav #nav="ngbNav" class="nav-tabs">
          <!-- Sysadmin Accounts -->
          <li ngbNavItem>
            <a ngbNavLink>
              <i class="material-icons">supervisor_account</i>Sysadmins
            </a>
            <ng-template ngbNavContent>
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th scope="col">Display Name</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">Username</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let user of sysadmins"
                    class="clickable-row"
                    (click)="selectUser(user)">
                  <td scope="row">{{user.displayName}}</td>
                  <td>{{user.firstName}}</td>
                  <td>{{user.lastName}}</td>
                  <td>{{user.username}}</td>
                </tr>
                </tbody>
              </table>
            </ng-template>
          </li>
          <!-- Standard Accounts -->
          <li ngbNavItem>
            <a ngbNavLink>
              <i class="material-icons">person</i>Standard
            </a>
            <ng-template ngbNavContent>
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th scope="col">Display Name</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">Username</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let user of standards"
                    class="clickable-row"
                    (click)="selectUser(user)">
                  <td scope="row">{{user.displayName}}</td>
                  <td>{{user.firstName}}</td>
                  <td>{{user.lastName}}</td>
                  <td>{{user.username}}</td>
                </tr>
                </tbody>
              </table>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav"></div>
      </div>
    </section>
  </div>
</main>
