<div class="top-container" *ngIf="fg">
  <div class="container">
    <div class="title-container">
      <div class="title-container__title">
        <h1 class="text-muted">{{isCreate ? 'Add New' : 'Edit'}} FOM</h1>
      </div>
      <div class="title-container__actions">
        <button
          class="btn btn-light"
          type="button"
          title="Cancel changes"
          (click)="cancelChanges()"
        >
          Cancel
        </button>
        <app-button *ngIf="isCreate; else saveButton" title="Save your changes" (click)="submit()"
                    [disabled]="!fg.isModified">{{ isLoading ? "Submitting" : "Submit" }}</app-button>

      </div>
    </div>
  </div>
</div>

<div class="bottom-container" *ngIf="fg">

  <div class="container">

    <form class="mb-3" [formGroup]="fg">
      <div class="row">
        <legend>Application Details</legend>
      </div>
      <fieldset>
        <div class="form-row" >
          <div class="form-group col-md-2" *ngIf="!this.isCreate">
            <label>ID</label>
            <input
              type="text"
              class="form-control"
              id="id"
              name="name"
              disabled
              [value]="originalProject.id"
            />
          </div>
          <div class="form-group col-md">
            <label>Commenting Open Date</label>
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="YYYY-MM-DD"
                bsDatepicker
                #openDate="bsDatepicker"
                id="commentingOpenDate"
                name="commentingOpenDate"
                formControlName="commentingOpenDate"
                [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', adaptivePosition: true,
                containerClass: 'theme-dark-blue', showWeekNumbers: false }"
                [appFormControl]="fg.get('commentingOpenDate')"
              />
              <div class="input-group-append">
                <button class="btn btn-icon"  type="button" tabindex="-1" (click)="openDate.show()"
                        [attr.aria-expanded]="openDate.isOpen">
                  <i class="material-icons">date_range</i>
                </button>
              </div>
            </div>
          </div>
          <div class="form-group col-md">
            <label>Commenting Closed Date</label>
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="YYYY-MM-DD"
                bsDatepicker
                #closedDate="bsDatepicker"
                id="commentingClosedDate"
                name="commentingClosedDate"
                formControlName="commentingClosedDate"
                [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', adaptivePosition: true,
                containerClass: 'theme-dark-blue', showWeekNumbers: false  }"
                [appFormControl]="fg.get('commentingClosedDate')"
              />
              <div class="input-group-append">
                <button class="btn btn-icon"  type="button" tabindex="-1" (click)="closedDate.show()"
                        [attr.aria-expanded]="closedDate.isOpen">
                  <i class="material-icons">date_range</i>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="form-row">

          <div class="col-md-2">
            <label for="fsp-id" style="white-space: nowrap;"
            >FSP ID</label>
            <input
              type="number"
              class="form-control"
              id="fsp-id"
              name="fsp-id"
              formControlName="fspId"
              [appFormControl]="fg.get('fspId')"

            />
          </div>
          <div class="col">
            <label for="fsp-id" style="white-space: nowrap;">District</label>
            <select class="sort-comments form-control" (change)="changeDistrictId($event)" id="district-list">
              <option *ngIf="this.isCreate">  </option>
              <option  [value]="district.id" *ngFor="let district of districts" [selected]="district.id === districtIdSelect" [innerHTML]=" district.name"> </option>
               </select>
          </div>
        </div>
        <!-- <legend>Application Details</legend> -->
        <div class="form-row">
          <div class="form-group col">
            <label>FOM Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              formControlName="name"
              [appFormControl]="fg.get('name')"
            />
          </div>
          <div class="form-group col">
            <label>FOM Holder</label>
            <select class="sort-comments form-control"  (change)="changeForestClientId($event)" id="forestClient-list">
              <option *ngIf="this.isCreate">  </option>
              <option  [value]="client.id" *ngFor="let client of forestClients" [selected]="client.id === forestClientSelect" [innerHTML]=" client.name"> </option>
            </select>
          </div>

        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea
            class="form-control"
            rows="3"
            id="description"
            name="description"
            formControlName="description"
            [appFormControl]="fg.get('description')"

          >
          </textarea>
        </div>
        <div class="form-group mb-0">
          <legend>FOM Supporting Documents</legend>

          <app-upload-box [multipleFiles]="true" [files]="fomSupportingDocuments" (fileUploaded)="addNewFiles($event)"></app-upload-box>
<!--          <app-upload-box [multipleFiles]="true" [files]="applicationFiles" (fileBlobsUploaded)="addNewFiles($event)"></app-upload-box>-->
        </div>
      </fieldset>

      <fieldset name="decisionForm" id="appDecision">
        <div class="form-group mb-0">
          <legend>Initial Public Notice</legend>

          <app-upload-box [multipleFiles]="false" [files]="initialPublicDocument"
                          (fileUploaded)="addNewPublicNoticeDocument($event)"></app-upload-box>
          <!--          <app-upload-box [multipleFiles]="true" [files]="applicationFiles" (fileBlobsUploaded)="addNewFiles($event)"></app-upload-box>-->
        </div>
      </fieldset>
    </form>
  </div>
</div>

<ng-template #saveButton>


  <app-button
    title="Save your changes"
    (click)="saveApplication()">{{ isLoading ? "Saving" : "Save" }}</app-button>
</ng-template>
