<div class="grid-container">

  <div class="search-container">
    <div class="container" id="anchor-point">
      <h1>List FOM Applications</h1>

      <div class="filter-grid">
        <div>
          <select class="form-control filter-select" id="district-list">
            <option value="">Filter by District</option>
            <option value="56">100 Mile House Natural Resource District</option>
            <option value="43">Campbell River Natural Resource District</option>
            <option value="1826">Cariboo-Chilcotin Natural Resource District</option>
            <option value="1828">Cascades Natural Resource District</option>
            <option value="15">Chilliwack Natural Resource District</option>
            <option value="32">Coast Mountains Natural Resource District</option>
            <option value="46">Fort Nelson Natural Resource District</option>
            <option value="48">Haida Gwaii Natural Resource District</option>
          </select>
          <!-- <select class="form-control filter-select" (change)="setRegionFilter($event.target.value)"
            [disabled]="searching || exporting" title="Filter by Region">
            <option value="">Filter by District</option>
            <option *ngFor="let regionCode of regionCodes" [value]="regionCode.param"
              [selected]="regionCodeFilter === regionCode.param">{{regionCode.text.long}}</option>
          </select> -->
        </div>

        <div>
          <select class="form-control filter-select" id="status">
            <option value="">Filter by Status</option>
            <option value="initial">Initial</option>
            <option value="c-open">Commenting Open</option>
            <option value="c-closed">Commenting Closed</option>
            <option value="finalized">Finalized</option>
            <option value="expired">Expired</option>
          </select>
          <!-- <select class="form-control filter-select" (change)="setStatusFilter($event.target.value)"
            [disabled]="searching || exporting" title="Filter by Status">
            <option value="">Filter by Status</option>
            <option *ngFor="let statusCode of statusCodes" [value]="statusCode.param"
              [selected]="statusCodeFilters[0] === statusCode.param">{{statusCode.text.long}}</option>
          </select> -->

          <input class="form-control filter-input" (change)="setApplicantFilter($event.target['value'])"
                 [value]="applicantFilter" [disabled]="searching || exporting" placeholder="Filter by Licensee"
                 title="Filter by Applicant">
          <!-- <select class="form-control filter-select" (change)="setCommentFilter($event.target.value)"
            [disabled]="searching || exporting" title="Filter by comment period">
            <option value="">Filter by Comment Period</option>
            <option *ngFor="let commentCode of commentCodes" [value]="commentCode.param"
              [selected]="commentCodeFilters[0] === commentCode.param">{{commentCode.text.long}}
            </option>
          </select> -->
        </div>

        <div class="filter-buttons">
          <button class="filter-btn-clear btn btn-secondary" (click)="clearQueryParameters()"
                  [disabled]="searching || exporting" title="Clear search filters">Clear
          </button>
          <button class="filter-btn-search btn btn-primary" type="submit" (click)="getProjects()"
                  [disabled]="searching || exporting" title="Search for FOMs">
            Search
            <i class="spinner-border" [hidden]="!searching"></i>
          </button>
          <button class="filter-btn-export btn btn-light" (click)="export()" [disabled]="searching || exporting"
                  title="Export application list as CSV">
            Export
            <i class="material-icons" [hidden]="exporting">file_download</i>
            <i class="spinner-border" [hidden]="!exporting"></i>
          </button>
        </div>

        <div>
          <div class="filter-count">
            {{this.pagination.message}}
          </div>

          <div class="pagination-nav" [hidden]="pagination.pageCount <= 1">
            <ul class="pagination" [ngClass]="{'disabled': searching || exporting}">
              <li>
                <a class="page-link" (click)="updatePage(-1)" [hidden]="pagination.currentPage <= 1"
                   title="Previous page">Prev</a>
              </li>
              <li>
                <a class="page-link" (click)="setPage(pagination.currentPage - 1)"
                   [hidden]="pagination.currentPage <= 1"
                   title="Page {{pagination.currentPage - 1}}">{{pagination.currentPage - 1}}</a>
              </li>
              <li>
                <a class="page-link current-page" (click)="setPage(pagination.currentPage)"
                   title="Page {{pagination.currentPage}}">{{pagination.currentPage}}</a>
              </li>
              <li>
                <a class="page-link" (click)="setPage(pagination.currentPage + 1)"
                   [hidden]="pagination.currentPage >= pagination.pageCount"
                   title="Page {{pagination.currentPage + 1}}">{{pagination.currentPage + 1}}</a>
              </li>
              <li>
                <a class="page-link" (click)="updatePage(1)" [hidden]="pagination.currentPage === pagination.pageCount"
                   title="Next page">Next</a>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="loading-container" *ngIf="loading">
      <!-- TODO Marcelo<div class="spinner-new rotating"></div> -->
    </div>
    <div *ngIf="!loading">
      <table class="table-cards" id="table-card">
        <thead>
        <tr>
          <th class="sortable" (click)="sort('client')">FSP ID
            <i class="sort"
               [ngClass]="{'sort-asc': (sorting.column == 'client' && sorting.direction < 0), 'sort-desc': (sorting.column == 'client' && sorting.direction > 0) }"
               aria-hidden="true" title="Sort by applicant"></i>
          </th>
          <th class="sortable" (click)="sort('cl_file')">FOM ID
            <i class="sort"
               [ngClass]="{'sort-asc': (sorting.column == 'cl_file' && sorting.direction < 0), 'sort-desc': (sorting.column == 'cl_file' && sorting.direction > 0) }"
               aria-hidden="true" title="Sort by cl file"></i>
          </th>
          <th class="sortable" (click)="sort('businessUnit')">District
            <i class="sort"
               [ngClass]="{'sort-asc': (sorting.column == 'businessUnit' && sorting.direction < 0), 'sort-desc': (sorting.column == 'businessUnit' && sorting.direction > 0) }"
               aria-hidden="true" title="Sort by region"></i>
          </th>
          <th class="sortable" (click)="sort('createdDate')">Created
            <i class="sort"
               [ngClass]="{'sort-asc': (sorting.column == 'createdDate' && sorting.direction < 0), 'sort-desc': (sorting.column == 'createdDate' && sorting.direction > 0) }"
               aria-hidden="true" title="Sort by created date"></i>
          </th>
          <th>Status</th>
          <th>Commenting</th>
          <th>Comments</th>
        </tr>
        </thead>

        <tbody>
        <ng-container *ngFor="let project of projects">
          <tr>
            <!-- <td data-label="Applicant(s)">
              <span>{{(app.meta.applicants | titlecase) || '-'}}</span>
            </td> -->
            <td data-label="FSP ID">
              <span>{{project.fspId}}</span>
            </td>

            <td data-label="FOM ID">
                <span>
                  <a [routerLink]="['/a', project.id]" title="View application details">{{project.id}}</a>
                </span>
            </td>
            <td data-label="Region">
              <span>{{project.district ? project.district.name : '-'}}</span>
            </td>
            <td data-label="Created">
              <span>{{project.createTimestamp || '-'}}</span>
            </td>
            <td data-label="Status">
              <span>{{project.workflowState ? project.workflowState.code : '-'}}</span>
            </td>
            <td data-label="Comment Status">
              <span>Commenting &nbsp; Closed - {{ project.commentingClosedDate | date:'longDate' || 'Unknown'}}</span>
            </td>
            <td data-label="Comments" class="text-align">
              <span>Not Implemented</span>
            </td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </div>
  </div>

</div>
