<div class="top-container" *ngIf="fg">
  <div class="container">
    <div class="title-container">
      <div class="title-container__title">
        <h1 class="text-muted">FSP ID: {{project.fspId}}</h1>
      </div>
      <div class="title-container__actions">
        <button
          class="btn btn-light"
          type="button"
          title="Cancel changes"
          (click)="cancelChanges()"
        >
          Cancel
        </button>
<!--        <app-button *ngIf="true; else saveButton" title="Upload your GeoJSON FOM File" (click)="submit()"-->
        <app-button *ngIf="true; else saveButton" title="Upload your GeoJSON FOM File" (click)="submit()">{{ isLoading ? "Submitting" : "Submit" }}</app-button>

      </div>
    </div>
  </div>
</div>

<div class="bottom-container" *ngIf="fg">

  <div class="container">

    <form class="mb-3" [formGroup]="fg">
      <div class="row">
        <legend>FOM Spatial Submission</legend>
      </div>
      <fieldset>
        <div class="form-row">
          <div class="form-group col-md-2">
            <label>FOM ID</label>
          </div>
          <div class="col-md-2">
            <input
              type="text"
              class="form-control"
              id="id"
              name="name"
              disabled
              [value]="project.id"
            />
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-2">
            <label  style="white-space: nowrap;">Submission Type:</label>
          </div>
          <div class="col">
<!--            <label  style="white-space: nowrap;">Proposed</label>-->
            <input
              type="text"
              class="form-control"
              id="submissionTypeCode"
              name="submissionTypeCode"
              formControlName="submissionTypeCode"
              disabled
              [appFormControl]="fg.get('submissionTypeCode')"
            />
          </div>
        </div>
        <p>
        <!-- <legend>Application Details</legend> -->
        <div class="form-row">
          <div class="form-group col-md-2">
            <label>Geo Spatial Object Type:</label>
          </div>
          <div class="form-group col">
            <select name="objectType" class="sort-comments form-control" (change)="changeGeoType($event)" id="geoSpatialType-list">
<!--              <option  [value]="client.id" *ngFor="let client of forestClients" [selected]="client.id === districtIdSelect" [innerHTML]=" client.name"> </option>-->
              <option  [value]="geoType" *ngFor="let geoType of geoTypeValues" [innerHTML]=" geoType"> </option>
            </select>
          </div>

        </div>
        <div class="form-group mb-0">
<!--          <legend>FOM Supporting Documents</legend>-->

          <app-upload-box [multipleFiles]="false" [files]="applicationFiles" (fileUploaded)="addNewFiles($event)"
                          (outputFileContent)="getContentFileFromUpload($event)"></app-upload-box>
        </div>
        <!-- <div class="form-group mb-0">
          <legend>FOM Supporting Documents</legend>
          <ul
            class="doc-list mb-3"
          >
            <li *ngFor="let doc of (originalApplication?.attachments || [])">
              <span class="cell icon">
                <i class="material-icons">insert_drive_file</i>
              </span>
              <span class="cell name" [title]="doc.displayName || ''">
                <span class="cell__txt-content">{{
                  doc.documentFileName
                }}</span>
              </span>
              <span class="cell actions">
                <button
                  class="btn btn-icon"
                  type="button"
                  title="Delete this document"

                >
                  <i class="material-icons">delete</i>
                </button>
              </span>
            </li>
          </ul> -->
        <!-- <app-file-upload
          *ngIf=" (application['attachments'] || [])"
          [fileExt]="['jpg', 'jpeg', 'png', 'pdf', 'tiff']"
          [maxFiles]="0"
          [maxSize]="10"
          [showList]="false"
          [files]="applicationFiles"
          (filesChange)="
            addDocuments($event,  (application['attachments'] || []));
            applicationFiles = []
          "
        ></app-file-upload> -->
        <!-- </div> -->
      </fieldset>

<!--      <fieldset name="decisionForm" id="appDecision">-->
<!--      </fieldset>-->
    </form>
  </div>
</div>

<ng-template #saveButton>


  <app-button
    title="Upload your GeoJSON FOM File "> </app-button>
<!--    (click)="saveApplication()">{{ isLoading ? "Saving" : "Save" }}</app-button>-->
<!--    (click)="saveApplication()">{{ isLoading ? "Saving" : "Save" }}</app-button>-->
</ng-template>
