<!-- <ngb-alert type="danger" [dismissible]="false" *ngFor="let alert of alerts">{{alert}}</ngb-alert> -->
<ng-container *ngIf="data$ | async as data">
  <div class="top-container">
    <div class="container">
      <div class="breadcrumb-container">
        <a [routerLink]="['/a', projectId]">
          <i class="material-icons">arrow_back </i> Back to FOM Details</a>
      </div>
      <div class="title-container">
        <div class="title-container__title">
          <h1>Review Comments for FOM ID : {{projectId}}</h1>
        </div>
      </div>
    </div>
  </div>


  <div class="bottom-container">
    <div class="container">
      <div class="review-comments">
        <div class="review-comments__list panel">
          <div class="panel-header">
            <h2 style="margin: 0;">Comments ({{(data$ | async)?.length}})</h2>
          </div>
          <div class="panel-scroll" #commentListScrollContainer>
            <ng-container *ngIf="data$  | async as result">

              <ng-container>
                <div class="comment-item" *ngFor="let item of result" [class.active]="item?.id === selectedItem?.id"
                     (click)="onReviewItemClicked(item, null)">
                  <div class="comment-item-header">
                    <div class="comment-author">
                      {{item.name || 'Anonymous'}}
                    </div>
                    <div class="comment-date">
                      {{(item.createTimestamp | date) || '-'}}
                    </div>
                    <div class="comment-response">
                      {{item.response?.description || '(not actioned)'}}
                    </div>
                  </div>
                  <div class="comment-body">{{item.feedback}}</div>
                </div>
              </ng-container>

            </ng-container>
          </div>

        </div>
        <div class="review-comments__detail panel">
          <div class="panel-scroll">
            <app-comment-detail #commentDetailForm="commentForm" 
                [responseCodes]="responseCodes"
                [canReplyComment]="canReplyComment()">
              <div class="row">
                <button type="button" title="Save this comment response"
                        class="btn btn-sm btn-primary btn-container"
                        [disabled]="loading"
                        [hidden]="!canReplyComment()"
                        (click)="saveComment(commentDetailForm.commentFormGroup.value, commentDetailForm.comment)">
                  Save response
                </button>
              </div>
            </app-comment-detail>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #noComments>
  No comments available for the application.
</ng-template>
