<div class="top-container" *ngIf="fg">
  <div class="container">
    <div class="title-container">
      <div class="title-container__title">
        <h1 class="text-muted">{{isCreate ? 'Create' : 'Edit'}} FOM</h1>
      </div>
      <div class="title-container__actions">
        <button
          class="btn btn-light"
          type="button"
          title="Cancel changes"
          (click)="cancelChanges()"
        >
          Cancel
        </button>
        <app-button *ngIf="isCreate; else saveButton" title="You cannot save a retired application" (click)="submit()"
                    [disabled]="!fg.isModified">{{ isLoading ? "Submitting" : "Submit" }}</app-button>

      </div>
    </div>
  </div>
</div>

<div class="bottom-container" *ngIf="fg">

  <div class="container">

    <form class="mb-3" [formGroup]="fg">
      <div class="row">
        <legend>Application Details</legend>
      </div>
      <fieldset>
        <div class="form-row" *ngIf="!this.isCreate">
          <div class="form-group col-md-2">
            <label>ID</label>
            <input
              type="text"
              class="form-control"
              id="id"
              name="name"
              disabled
              [value]="originalApplication.id"
            />
          </div>
          <div class="form-group col-md">
            <label>Commenting Open Date</label>
            <input
              type="text"
              class="form-control"
              id="commentingOpenDate"
              name="commentingOpenDate"
              disabled
              value="{{ originalApplication.commentingOpenDate | date: 'longDate' }}"
            />
          </div>
          <div class="form-group col-md">
            <label>Commenting Closed Date</label>
            <input
              type="text"
              class="form-control"
              id="commentingClosedDate"
              name="commentingClosedDate"
              disabled
              value="{{ originalApplication.commentingOpenDate | date: 'longDate' }}"
            />
          </div>
        </div>

        <div class="form-row">

          <div class="col-md-2">
            <label for="fsp-id" style="white-space: nowrap;"


            >FSP ID</label>
            <input
              type="number"
              class="form-control"
              id="fsp-id"
              name="fsp-id"
              formControlName="fspId"
              [appFormControl]="fg.get('fspId')"

            />
          </div>
          <div class="col">
            <label for="fsp-id" style="white-space: nowrap;">District</label>
            <select class="sort-comments form-control" (change)="changeDistrictId($event)" id="district-list">
<!--              <option  [value]="district.id" *ngFor="let district of districts" [selected]="district.id === districtIdSelect"> {{district.name}}</option>-->
              <option  [value]="district.id" *ngFor="let district of districts" [selected]="district.id === districtIdSelect" [innerHTML]=" district.name"> </option>
               </select>
          </div>
        </div>
        <!-- <legend>Application Details</legend> -->
        <div class="form-row">
          <div class="form-group col">
            <label>FOM Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              formControlName="name"
              [appFormControl]="fg.get('name')"
            />
          </div>
          <div class="form-group col">
            <label>FOM Holder</label>
            <select class="sort-comments form-control"  (change)="changeForestClientId($event)" id="forestClient-list">
              <option  [value]="client.id" *ngFor="let client of forestClients" [selected]="client.id === districtIdSelect" [innerHTML]=" client.name"> </option>
            </select>
          </div>

        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea
            class="form-control"
            rows="3"
            id="description"
            name="description"
            formControlName="description"
            [appFormControl]="fg.get('description')"

          >
          </textarea>
        </div>
        <div class="form-group mb-0">
          <legend>FOM Supporting Documents</legend>

          <app-upload-box [multipleFiles]="true" [files]="applicationFiles"></app-upload-box>
        </div>
        <!-- <div class="form-group mb-0">
          <legend>FOM Supporting Documents</legend>
          <ul
            class="doc-list mb-3"
          >
            <li *ngFor="let doc of (originalApplication?.attachments || [])">
              <span class="cell icon">
                <i class="material-icons">insert_drive_file</i>
              </span>
              <span class="cell name" [title]="doc.displayName || ''">
                <span class="cell__txt-content">{{
                  doc.documentFileName
                }}</span>
              </span>
              <span class="cell actions">
                <button
                  class="btn btn-icon"
                  type="button"
                  title="Delete this document"

                >
                  <i class="material-icons">delete</i>
                </button>
              </span>
            </li>
          </ul> -->
        <!-- <app-file-upload
          *ngIf=" (application['attachments'] || [])"
          [fileExt]="['jpg', 'jpeg', 'png', 'pdf', 'tiff']"
          [maxFiles]="0"
          [maxSize]="10"
          [showList]="false"
          [files]="applicationFiles"
          (filesChange)="
            addDocuments($event,  (application['attachments'] || []));
            applicationFiles = []
          "
        ></app-file-upload> -->
        <!-- </div> -->
      </fieldset>

      <fieldset name="decisionForm" id="appDecision">
        <!-- <legend class="mb-3">Initial Public Notice</legend> -->
        <legend>Initial Public Notice</legend>
        <!-- <div class="mb-4" *ngIf="application.meta.decision"> -->
        <div class="mb-4">
          <div class="form-group">
            <ul
              class="doc-list mb-3"
            >
              <!-- <li *ngFor="let doc of (application['attachments'] || [])">
                <span class="cell icon">
                  <i class="material-icons">insert_drive_file</i>
                </span>
                <span class="cell name" [title]="doc.displayName || ''">
                  <span class="cell__txt-content">
                    {{ doc.documentFileName }}
                  </span>
                </span>
                <span class="cell actions">
                  <button
                    class="btn btn-icon"
                    type="button"
                    title="Delete this document"
                    (click)="
                      deleteDocument(
                        doc,
                        (application['attachments'] || [])
                      )
                    "
                  >
                    <i class="material-icons">delete</i>
                  </button>
                </span>
              </li> -->
            </ul>
            <!-- <app-file-upload
              [fileExt]="['jpg', 'jpeg', 'png', 'pdf', 'tiff']"
              [maxFiles]="0"
              [maxSize]="10"
              [showList]="false"
              [files]="decisionFiles"
              (filesChange)="
                addDocuments($event, (application['attachments'] || []));
                decisionFiles = []
              "
            ></app-file-upload> -->
          </div>
        </div>
        <!-- <button class="btn content-btn-alt" type="button" title="Add decision documents"
          *ngIf="!application.meta.decision"
          (click)="addDecision()">
          <i class="material-icons md-20">add</i>
          Add Decision Documents
        </button>
        <button class="btn content-btn-alt danger" type="button" title="Remove the decision documents"
          *ngIf="application.meta.decision"
          (click)="deleteDecision()">
          <i class="material-icons md-20">remove</i>
          Remove Decision Documents
        </button> -->
      </fieldset>
    </form>
  </div>
</div>

<ng-template #saveButton>


  <app-button
    title="You cannot save a retired application"
    (click)="saveApplication()">{{ isLoading ? "Saving" : "Save" }}</app-button>
</ng-template>
