<div class="search-container">
  <form #f="ngForm" class="search-form ui form" (ngSubmit)="onSubmit()">
  <div class="container">
    <h1>Search FOMs</h1>
    <div class="filter-grid">
      <div class="input-group main-search-field">
        <input id="fspIdInput" type="number" min="0" step="1"
              class="form-control filter-input"
              style="font-size: 14px;" 
              name="fFspId" placeholder="Enter FSP ID"
              [(ngModel)]="fFspId"
              [disabled]="searching" autofocus/>
      </div>

      <div>
          <select name="fStatus"
                  class="form-control filter-select"
                  title="Filter by Status"
                  [disabled]="searching"
                  [(ngModel)]="fStatus">
            <option [value]="undefined">Select a Status</option> <!-- Note, for 'string' type use "undefined" so it can pre-selected -->
            <option *ngFor="let status of statusCodes" 
                    [value]="status.code"
                    [selected]="status.code === fStatus">
                    {{status.description}}</option>
          </select>
      </div>

      <div>
        <select name="fDistrict"
                class="form-control filter-select"
                title="Filter by District"
                [disabled]="searching"
                [(ngModel)]="fDistrict">
          <option [value]="null" selected>Select a district</option> <!-- Note, for 'number' type use "null" so it can pre-selected -->
          <option *ngFor="let district of districts" 
                  [value]="district.id"
                  [selected]="district.id === fDistrict">
                  {{district.name}}</option>
        </select>
      </div>

      <div class="input-group main-search-field">
        <input id="FOMHolderInput" type="text"
              class="form-control filter-input"
              style="font-size: 14px;"
              name="fHolder" placeholder="Enter FOM Holder Name (or portion)"
              [(ngModel)]="fHolder"
              [disabled]="searching" autofocus/>
      </div>

      <div class="filter-buttons">
        <button class="filter-btn-clear btn btn-secondary" 
                (click)="clearQueryParameters()"
                [disabled]="searching"
                type="button" 
                title="Clear search filters">Clear
        </button>
        <button class="filter-btn-search btn btn-primary" type="submit"
                [disabled]="searching" title="Search for FOMs">
          Search
          <i class="spinner-border" [hidden]="!searching"></i>
        </button>
      </div>
    </div>
  </div>
  </form>
</div>


<div class="container">
  <div class="search-results">
    <h2 *ngIf="!searching && count == 0">
      <strong>No results found.</strong>
    </h2>

    <h2 *ngIf="!searching && count > 0">
      <strong>{{count}} result<span *ngIf="count != 1">s</span> found.</strong>
    </h2>
    <table class="table" *ngIf="count > 0">
      <thead>
      <tr>
        <th class="disp">FOM ID</th>
        <th class="client">FOM Name</th>
        <th class="client">FSP ID</th>
        <th class="client">District</th>
        <th class="status">FOM Status</th>
        <th class="status">Commenting Open Date</th>
        <th class="actions"></th>
      </tr>
      </thead>
      <ng-template ngFor let-project [ngForOf]="projects">
        <tr class="app-details">
          <td class="disp">
            <strong>{{project.id }}</strong>
          </td>
          <td
            [innerHTML]="project.name ? (project.name | titlecase) : '<em>No FOM name on this File</em>'">
          </td>
          <td>
            {{project.fspId}}
          </td>
          <td>
            {{project.district?.name}}
          </td>
          <td>
            {{project.workflowState? project.workflowState.description : 'Unknown'}}
          </td>
          <td>
            {{project.commentingOpenDate | date:'mediumDate'}}
          </td>

          <td class="actions">
            <div ngbDropdown placement="bottom-right">
              <button ngbDropdownToggle class="btn btn-sm btn-outline-primary" type="button">
                Actions
              </button>
              <div ngbDropdownMenu>
                <button class="dropdown-item" type="button" [routerLink]="['/a', project.id]">
                  <i class="material-icons">insert_drive_file</i>
                  View FOM
                </button>
                <button class="dropdown-item" type="button" [routerLink]="['/a', project.id, 'edit']">
                  <i class="material-icons">edit</i>
                  Edit FOM
                </button>
                <button class="dropdown-item" type="button" [routerLink]="['/a', project.id, 'upload']">
                  <i class="material-icons">public</i>
                  GeoSpatial Submissions
                </button>
                <button class="dropdown-item" type="button" [routerLink]="['/comments', project.id]">
                  <i class="material-icons">mode_comment</i>
                  Review Comments
                </button>
              </div>
            </div>
          </td>
        </tr>
      </ng-template>
    </table>
  </div>
</div>
