<div class="search-container">
  <div class="container">
    <h1>Find FOM by FSP</h1>
    <form #f="ngForm" class="search-form ui form" (ngSubmit)="onSubmit()">
      <label for="keywordInput">Enter FSP for FOM</label>
      <div class="input-group main-search-field">
        <input class="form-control" type="text" name="keywordInput" id="keywordInput" [(ngModel)]="keywords"
               [disabled]="searching" autofocus/>
        <div class="input-group-append">
          <!-- prevent searching if input is empty or we're already searching -->
          <button class="btn btn-primary" type="submit" [disabled]="!keywords || searching">
            <i class="spinner rotating" [hidden]="!searching"></i>
            <span>{{searching ? 'Searching...' : 'Find'}}</span>
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <div class="btn-container">
          <!-- (click)="onImport(application)" [disabled]="application.meta.isRetired"> -->
          <button class="btn btn-sm btn-primary btn-container" type="button" title="Create a new FOM"
                  (click)="onImport()">
            <i class="material-icons">add</i>
            Create
          </button>
        </div>
      </div>
      <div> Add New Forest Operations Map</div>
    </div>
  </div>
</div>


<div class="container">
  <div class="search-results">
    <h2 *ngIf="ranSearch && !searching && count == 0">
      <strong>No result<span *ngIf="count > 0">s</span> found for "{{keywords ? keywords : 'unknown'}}"</strong>
    </h2>

    <h2 *ngIf="ranSearch && !searching && count > 0">
      <strong>{{count}} result<span *ngIf="count != 1">s</span> found for "{{keywords ? keywords : 'unknown'}}"</strong>
    </h2>
    <table class="table" *ngIf="count > 0">
      <thead>
      <tr>
        <!-- <th class="cl-file" name="Crowns land File Number">CL File</th> -->
        <th class="disp">FOM ID</th>
        <th class="client">FOM Name</th>
        <th class="client">Create Date</th>
        <th class="status">FOM Status</th>
        <th class="status">Commenting Open Date</th>
        <th class="actions"></th>
      </tr>
      </thead>
      <ng-template ngFor let-project [ngForOf]="projects">
        <tr class="app-details">
          <td class="disp">
            <strong>{{project.id }}</strong>
          </td>
          <td
            [innerHTML]="project.name ? (project.name | titlecase) : '<em>No FOM name on this File</em>'">
          </td>
          <td>
            {{project.createTimestamp| date:'mediumDate'}}
          </td>
          <td>
            {{project.workflowState && project?.workflowState?.description ? project?.workflowState?.description : 'Unknown'}}
          </td>
          <td>
            {{project.commentingOpenDate | date:'mediumDate'}}
          </td>

          <td class="actions">
            <div ngbDropdown placement="bottom-right">
              <button ngbDropdownToggle class="btn btn-sm btn-outline-primary" type="button">
                Actions
              </button>
              <div ngbDropdownMenu>
                <button class="dropdown-item" type="button" [routerLink]="['/a', project.id]">
                  <i class="material-icons">insert_drive_file</i>
                  View FOM
                </button>
                <button class="dropdown-item" type="button" [routerLink]="['/a', project.id, 'edit']">
                  <i class="material-icons">edit</i>
                  Edit FOM
                </button>
                <button class="dropdown-item" type="button" [routerLink]="['/a', project.id, 'upload']">
                  <i class="material-icons">public</i>
                  GeoSpatial Submissions
                </button>
                <button class="dropdown-item" type="button" [routerLink]="['/comments', project.id]">
                  <i class="material-icons">mode_comment</i>
                  Review Comments
                </button>
              </div>
            </div>
          </td>
        </tr>
<!--        <tr>-->
<!--          <td colspan="6">-->
<!--            <span class="comment-info">-->
<!--              &lt;!&ndash; TODO: Fix me! &ndash;&gt;-->
<!--              &lt;!&ndash;<span *ngIf="project.publicComments && project.publicComments.length > 0">-->
<!--                <strong>-->
<!--                  <a [routerLink]="['/comments', project.id]">{{ project.publicComments.length }}-->
<!--                    {{project.publicComments.length === 1 ? 'comment' : 'comments'}}</a>-->
<!--                </strong>-->
<!--                &nbsp;-&nbsp;-->
<!--              </span> &ndash;&gt;-->
<!--&lt;!&ndash;              <span>&ndash;&gt;-->
<!--&lt;!&ndash;                &nbsp;&nbsp; Commenting &nbsp; Closed - {{ project.commentingClosedDate | date:'longDate' || 'Unknown'}}&ndash;&gt;-->
<!--&lt;!&ndash;              </span>&ndash;&gt;-->
<!--              &lt;!&ndash; <span *ngIf="application.meta.currentPeriod">-->
<!--                &nbsp;-&nbsp;-->
<!--                {{application.meta.currentPeriod.startDate | date:'longDate'}} to-->
<!--                {{application.meta.currentPeriod.endDate | date:'longDate'}}-->
<!--                <span *ngIf="application.meta.currentPeriod.meta.daysRemaining">-->
<!--                  &nbsp;({{application.meta.currentPeriod.meta.daysRemaining + (application.meta.currentPeriod.meta.daysRemaining === 1 ? ' day ' : ' days ') + 'remaining'}})-->
<!--                </span>-->
<!--              </span> &ndash;&gt;-->
<!--            </span>-->
<!--          </td>-->
<!--        </tr>-->
      </ng-template>
    </table>
  </div>
  <!-- <div class="btn-container" *ngIf="ranSearch && !searching && count > 0">
      (click)="onImport(application)" [disabled]="application.meta.isRetired">
      <button class="btn btn-sm btn-primary btn-container" type="button" title="Create a new FOM"
          (click)="onImport()" >
          <i class="material-icons">add</i>
          Create
      </button>
  </div> -->
</div>
